@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

body{
    margin: 0px;
    margin-left: 15px;
    padding: 0;
    font-family:'Roboto', sans-serif;
    
}
.container > h1{
    color: rgb(0, 0, 0) ;
    font-weight: 800;
}

.container > h2{
    color: rgb(0, 0, 0) ;
    font-weight: 800;
    margin: 0px;
}

.container > h3{
    margin-top: 5px;
    margin-bottom: 20px;
}

.container > a{
    color: rgb(102, 89, 89) ;
    font-weight: 800;
    
}